/* write your override styles here */
#wall{
  display: none;
}
#tag-3 {
  display: none;
}
#tag-5 {
  display: none;
}
# wall.tag-6 {
  display: none;
}
.parent {
  display: none;
}
.tag-3 {
  display: none;
}
